<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 920a3e0 (Automated commit via upload.bat)
name: Auto Update Playlist

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: |
          python -m pip install --upgrade pip
          pip install requests
          python update_playlist.py
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add playlist.m3u
          git commit -m "Auto update playlist" || echo "No changes to commit"
<<<<<<< HEAD
=======
=======
name: Auto Update Toffee JSON

on:
  schedule:
    - cron: "0 * * * *"  # প্রতি ১ ঘণ্টায় run করবে
  workflow_dispatch:      # ম্যানুয়ালি রান করার সুযোগ রাখবে

jobs:
  build:
    runs-on: ubuntu-latest
    
    # --- এই অংশটি যোগ করুন ---
    permissions:
      contents: write
    # --------------------------

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: |
          python python update_playlist.py # আপনার স্ক্রিপ্টের নাম

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add toffee_formatted.json # আপনার আউটপুট ফাইলের নাম
          git commit -m "Auto update JSON at $(date)" || echo "No changes to commit"
>>>>>>> 948b9b0 (Automated commit via upload.bat)
>>>>>>> 920a3e0 (Automated commit via upload.bat)
          git push
